*{
    padding: 0;
    margin: 0;
}
.tabs{
    display: flex;
    gap:1rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.tab{
border: none;
text-decoration: underline;
}
 .ctab1 , .ctab2, .ctab3, .ctab4{
    display: none;
    margin-top: 2rem;
    text-align: center;
}
.ctab1{
 display: block;
}